body {
  background-color: black;
}

#map p {
  letter-spacing: 2em;
}

#map {
  text-align: center;
}

.green {
  color: green;
}

.white {
  color: gray;
}

.gold {
  color: gold;
}

#health-bar-outer {
  background-color: white;
  width: 200px;
  height: 50px;
}

#health-bar-inner {
  background-color: red;
  height: 50px;
}
