* {
  font-family: helvetica,arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  background-color: #222;
}

h4 {
  color: #fff;
}
p{
  color: #fff;
}
#combat {
  width: 275px;
  height: 600px;
  background-color: #888;
  border: solid 4px #777;
  padding: 10px;
  margin: 20px 5px;
}

#hero-image {
  width: 240px;
  height: 380px;
  background-color: #555;
}

#vil-image {
  width: 240px;
  height: 380px;
  background-color: #555;
}

#hero-health-bar {
  width: 240px;
  height: 50px;
  background-color: green;
}

#vil-health-bar {
  width: 240px;
  height: 50px;
  background-color: green;
}
#combat-details {
  width: 240px;
  height: 100px;
  background-color: orange;
}
#map {
width: 565px;
height:600px;
background-color: #444;
border: solid 4px #777;
padding: 20px;
margin: 20px 0px 0px 0px;
}
#inventory {
width: 260px;
height:600px;
background-color: #888;
border: solid 4px #777;
padding: 10px;
margin: 20px 0px 5px 5px;
}
#weapons {
width: 240px;
height:250px;
background-color: #666;
}
#items {
width: 240px;
height:250px;
background-color: #666;
}
#character {
width: 275px;
height: 1010px;
background-color: #888;
border: solid 4px #777;
padding: 10px;
margin: 20px 0px -20px -10px;
}
#userInput {
width: 300px;
height:100px;
background-color: #888;
margin-left: 300px;
}
#movement {
width: 150px;
height:100px;
background-color: #555;
margin-left: 140px;
}
#player-options {
width: 870px;
height:290px;
background-color: #2d2d2d;
margin-top: -255px;
margin-right: ;
}
#environment {
width: 560px;
height:265px;
background-color: #555;
margin-left: 5px;
}
#help {
width: 280px;
height:265px;
background-color: #444;
}

#middle {
width: 870px;
height:120px;
background-color: #2d2d2d;
margin-top: -380px;
}
