* {
  font-family: 'Eczar', serif;
  margin: 0;
  padding: 0;
}

.container {
  background-color: #222;
}

h4 {
  color: #fff;
  font-size: 1.6em;
}
h3 {
  text-align: center;
  font-size: 1.4em;

}

p{
  color: #fff;
}
#monster {
  width: 275px;
  height: 600px;
  border: solid 4px #777;
  padding: 10px 10px 10px 12px;
  margin: 20px 5px;
  background-color: #888;
  border: solid 4px #0f345a;
}

#hero-image {
  width: 240px;
  height: 380px;
  background-color: #555;
  margin-bottom: 10px;
  box-shadow: 5px 5px 15px #222;
  background-image: url("../img/hero-image.jpg");
  border-radius: 15px;
}

#monster-image {
  width: 240px;
  height: 380px;
  background-color: #555;
  margin-bottom: 10px;
  box-shadow: 5px 5px 15px #222;
  background-image: url("../img/sample.png");
  border-radius: 15px;
}

#monster-name {
  font-size: 1.6em;
  text-align: center;

  margin: 12px 10px 8px 10px;
}

#hero-health-bar-inner {
  width: 236px;
  height: 16px;
  background-color: #6dc20f;
}

#health-bar-outer {
  width: 240px;
  height: 20px;
  background-color: #000;
  border: solid 2px #dddddd;
}

#health-bar-inner {
  width: 236px;
  height: 16px;
  background-color: #6dc20f;
}
#monster-description {
  width: 240px;
  height: 150px;
  margin: 10px 0px 0px 0px;
  padding: 10px;
  color: #333;
  letter-spacing: 1px;
}
#map {
width: 565px;
height:600px;
background-color: #e6e5e5;
padding: 20px;
margin: 20px 0px 0px 0px;
background-image: url("../img/map.jpg");
border-radius: 15px;
}
/*#inventory {
width: 260px;
height:600px;
background-color: #888;
border: solid 4px #777;
padding: 10px;
margin: 20px 0px 5px 5px;
}*/
#weapons {
width: 240px;
height:240px;
background-color: #111;
border-radius: 15px;
box-shadow: 5px 5px 15px #222;
padding: 6px;
}
#weapons img {
  margin: 2px;
}
#items {
  width: 240px;
  height:240px;
  background-color: #111;
  border-radius: 15px;
  box-shadow: 5px 5px 15px #222;
  padding: 6px;
}

#items img {
  margin: 2px;
}
#character {
width: 270px;
height: 1010px;
background-color: #888;
border: solid 4px #0f345a;
padding: 10px;
margin: 20px 0px -20px -10px;
}
#user-input-display {
width: 300px;
height:100px;
margin-left: 320px;
}
#user-input {
  width: 225px;
}
#available-options {
width: 275px;
height:120px;
background-color: #111;
margin-left: 73px;
padding: 10px 10px 10px 10px;
}
/*#available-options ul {

}*/
#available-options li {
  list-style: none;
  font-size: 1em;
  font-style: normal;
  color: #888;
  letter-spacing: 1px;
}
#player-options {
width: 870px;
height:290px;
/*background-color: #2d2d2d;*/
margin-top: -255px;
}
#environment  {
width: 560px;
height:265px;
background-color: #ddd;
margin-left: 5px;
margin-top: 10px;
color: #333;
padding: 20px;
font-size: 1.2em;
border: solid 4px #0f345a;
}

#environment p {
  color: #333;
}



#help  {
width: 275px;
height:395px;
background-color: #444;
margin-top: -120px;
margin-left: 5px;
color: #C2C2C2;
padding: 20px;
font-size: 1.2em;
border: solid 4px #0f345a;

}
 #help p {
   color: #C2C2C2;
 }


#middle {
width: 870px;
height:120px;
/*background-color: #2d2d2d;*/
margin-top: -380px;
}

ul {
  list-style: none;
}

li {
  font-size: 0.8em;
  font-style: italic;

}

h5 {
  font-size: 1.2em;
  color: #D2D2D2;
}

#command-label {
color: #D2D2D2;
text-align: left;
}
